<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/Test</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ProductDBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=.\SQLExpress;Initial Catalog=Wheels;Persist Security Info=True;User ID=sa;Password=Test" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TestWebApi.Models.ProductDBContext, TestWebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CodeExplorers.Wheels.AppServer.Model.WheelModelContainer" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CodeExplorers.Wheels.AppServer.Model.WheelModelContainer, CodeExplorers.Wheels.AppServer.Model" MigrationConfiguration="CodeExplorers.Wheels.AppServer.Model.Migrations.Configuration, CodeExplorers.Wheels.AppServer.Model" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CodeExplorers.Wheels.AppServer.Model.WheelModelContainer-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ProductDBContext-Web.config Connection String">
      <ParameterValue>Data Source=.\SQLExpress;Initial Catalog=Wheels;Persist Security Info=True;User ID=sa;Password=Test</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CodeExplorers.Wheels.AppServer.Model.WheelModelContainer" />
  </ItemGroup>
</Project>